*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.kadın:hover .sub-menu{
    display: inline-flex;
}
.erkek:hover .sub-menu{
    display: inline-flex;
}
.cocuk:hover .sub-menu{
    display: inline-flex;
}
.ev-mobilya:hover .sub-menu{
    display: inline-flex;
}
.supermarket:hover .sub-menu{
    display: inline-flex;
}
.kozmetik:hover .sub-menu{
    display: inline-flex;
}
.ayakkabı-canta:hover .sub-menu{
    display: inline-flex;
}
.saat-aksesuar:hover .sub-menu{
    display: inline-flex;
}
.elektronik:hover .sub-menu{
    display: inline-flex;
}
.spor-outdoor:hover .sub-menu{
    display: inline-flex;
}
.header-search input::placeholder{
    font-size: 13px;
}
.search-input-icon{
    top: 50%;
    transform: translate(0, -50%);
}
.search-input-icon svg{
    width: 13px;
    height: 13px;
    color: #6B7280;
}
